main {

    display: flex;


}

li {

    list-style: none;

}

.main {
    display: flex;
    flex-direction: column;
    text-align: center;
}

form {

    display: inline-flex;
    flex-direction: column;
    font-size: 30px;

}

a {
    color: blue;
}

input {
    height: 50px;
}
input[type='text'], input[type='url']{
    font-size: 30px;
}

.bookmark-head-list {

    width: 300px;
    border: 1px solid black;
}

.bookmark {


    padding-left: 10px;
    border: 1px solid grey;
    text-align: center;
    justify-content: center;


}


.bookmark-head {

    padding: 20px 10px 20px 10px;
    border: 1px solid grey;

}

textarea {
    font-size: 20px;
    height: 80px;
}


select {
    height: 40px;
    font-size: large;
}



button {
    font-weight: bolder;
    font-size: large;
    height: 40px;
    width: 80px;
}

.delete {
    height: 30px;
    width: 100px;

}

.hidden {
    display: none;
}


/* inside of rating add a star value for rating*/
/* stop forgetting about content: */
