form {
 display: flex;
 flex-direction: column;
 font-size: 30px;
}

input {
    height: 50px;
}
input[type='text'], input[type='url']{
    font-size: 30px;
}

textarea {
    font-size: 20px;
    height: 80px;
}


select {
    height: 40px;
    font-size: large;
}



button {
    font-weight: bolder;
    font-size: large;
    height: 40px;
    width: 80px;
}

.delete {
    height: 30px;
    width: 100px;

}

.hidden {
    display: none;
}


/* inside of rating add a star value for rating*/
/* stop forgetting about content: */
