html {

    color: white;
    background-image: url(./img/backgroundForBookmarkApp.jpg);
    background-size: cover;
    background-position: center;
}


main {

    justify-content: center;
    color: white;

}

.black {
    color: black;
}

li {

    list-style: none;

}

.main {

    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;

}

form {

    display: inline-flex;
    flex-direction: column;
    font-size: 30px;

}

a {
    color: #333;
}

input {
    height: 50px;
}
input[type='text'], input[type='url']{
    font-size: 30px;
}



.bookmark {

    border: 1px solid grey;
    text-align: center;
    justify-content: center;

}


.bookmark-head {

    font-weight: bolder;
    font-size: 30px;
    background-color: #F9D8A7;
    padding: 30px 10px 30px 10px;
    border: 1px solid grey;

}

textarea {
    font-size: 20px;
    height: 80px;
}


select {
    height: 40px;
    font-size: large;
}



button {
    color:black;
    background-color: #F9D8DF;
    font-weight: bolder;
    font-size: large;
    height: 40px;
    width: 80px;
}

.delete {
    height: 30px;
    width: 100px;

}

.hidden {
    display: none;
}

@media all and (max-width: 600px){


}

/* inside of rating add a star value for rating*/
/* stop forgetting about content: */
